@import url('https://fonts.googleapis.com/css?family=Anton|Bowlby+One+SC|Fjalla+One|Monoton|Montserrat');

body{
 font-family: 'Montserrat', sans-serif;
 color: white;
 font-size: 16px;
 font-weight: 500;
}
#navbar
{
    z-index: 5;
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;

    background: transparent;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
 
    font-family: 'Montserrat', sans-serif;
    
 
  }
  
  li {
    float: left;
   
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
   padding: 24px;
    text-decoration: none;
    height: 50px;
    font-weight: 500px;
  }
  li a:hover {
    background-color: #fa8e1a;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border-radius: 12px; 
}
.sm-icon
{
    height:70px ;
    width:70px;
    float: left;
    overflow: hidden;
    padding: 15px;
    
}
#microsoft
{
  
    color: #c95336;  
    font-size: 70px; 
    border-radius: 12px;
    z-index: 12;
}
#maincontainer
{
    display: block;
   
    widows: 100%;
    height: 100vh;
     background: url("./projectpictures/macbook.jpeg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.row
{
    padding-left: 6%; 
    
}


#helloheading2
{
    padding-top: 12%; 
    font-size: 48px;
    background: -webkit-linear-gradient(rgb(247, 244, 244), rgb(53, 53, 53));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: -10px;
}

#heading
{
    
    font-size: 48px;
    background: -webkit-linear-gradient(rgb(34, 251, 255),rgb(2, 226, 103));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#contactdiv{

    background: url("./projectpictures/1.jpg") no-repeat center center fixed;  
    webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
#shoppingcontainer
{
top: 70px;
position: relative;
 display: block;   
 background: rgba(255, 255, 255, 0.975);
 height: 800px;
 width: 100%;
 padding-top: 70px;

}
#productCard
{
    position: relative;
    display: inline-block;
    height: 250px;
    width: 240px;
    background: #fa8e1a;
}